<div class="fab-container">
  <button mat-fab class="fab-toggler"
          (click)="onToggleFab()">
    <i class="material-icons"
       [@menuButtonState]="{value: animationState}">add</i>
  </button>
  <button mat-mini-fab class="fab-secondary"
          [@toggleState]="{value: animationState, params: {bottom: 1 * 70}}"
          color="secondary">
    <i class="material-icons">add</i>
  </button>
  <button mat-mini-fab class="fab-secondary"
          [@toggleState]="{value: animationState, params: {bottom: (2 * 70) - 15}}"
          color="secondary">
    <i class="material-icons">add</i>
  </button>
  <button mat-mini-fab class="fab-secondary"
          [@toggleState]="{value: animationState, params: {bottom: (3 * 70) - 30}}"
          color="secondary">
    <i class="material-icons">add</i>
  </button>
</div>
